.box {
    border: 4px solid black; /* Shows the lines in the CSS grid */
  }
  
.color-board {
    width: 600px; /* Total horizontal dimensions */
    height: 200px; /* Total vertical dimensions */
    display: grid; /* Enables CSS Grid */ 
    grid-template-columns: repeat(6, 1fr); /* Total horizontal space broken into 6 columns */
    grid-template-rows: repeat(2, 1fr); /* Total vertical space broken into 2 rows */
    margin: auto;
}
  