@keyframes fadeIn2 {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }

  .tcolor {
    float: left;
    width: 25%;
    height: 600px;
    background-color: rgb(240,240,240);
    background-image: url("./graphics/colorpicker.png");
    background-repeat: no-repeat;
    background-size: contain;
  }



  .tcanvas {
    float: left;
    width: 50%;
    height: 600px;
    background-image: url("./graphics/canvas.png");
    background-repeat: no-repeat;
    background-size: cover;
  }



  .tchat {
    float: left;
    width: 25%;
    height: 600px;
    background-image: url("./graphics/chat.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    background-color: rgb(240,240,240);
  }


  .chatoverlay {
    position: absolute;
    float: left;
    width: 25%;
    height: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: blue;
  }



  .tcanvas:hover .canvasoverlay, .tcolor:hover .coloroverlay, .tchat:hover .chatoverlay {
    opacity: 0.8;
  }



  .canvasoverlay {
    position: absolute;
    float: left;
    width: 50%;
    height: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: red;
  }



  .coloroverlay {
    position: absolute;
    float: left;
    width: 25%;
    height: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: green;
  }



  .threedivs{
      animation: fadeIn2 3.0s;
      width: 100%;
      height: 600px;
      position: sticky;
  }



  .tutorialPage {
    color: black;
    background-color: white;
    height:100%;
    overflow-y:auto;
  }


  .tutorialSPage {
    text-emphasis: center;
    color: black;
    background-color: rgb(240,240,240);
    height:100%;
    overflow-y:auto;
    animation: fadeIn2 3.0s;
  }


  .startPage {
      text-align: center;
      float: left;
      background-color: darkgrey;
      background-size: cover;
      width: 49%;
      height: 50%;
      margin: auto;
      text-shadow: blue;
      border: 5px solid;
      border-color: black;
  }



  .tutorialStart {
    text-align: center;
    float: right;
    background-image: url("./graphics/canvas.png");
    height: 50%;
    width: 49%;
    margin: auto;
    border: darkgreen;
    border: 5px solid;
    border-image: linear-gradient(to right, rgb(255, 0, 0) 0%, rgb(255, 0, 0) 20%, rgb(60, 255, 0) 20%, rgb(60, 255, 0) 40%,blue 40%, blue 60%, yellow 60%, yellow 80%, red 80%, red) 5;
  }



  .startButton{
    animation: fadeIn2 3.0s;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto; 
  }



  div.tutorial_header {
    animation: fadeIn2 3.0s;
    text-align: center;
  }



  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
