@keyframes fadeIn2 {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
 
  .colorpicker {
      flex: 1;
      width: auto;
      height: 100px;
      object-fit: contain;
  }

  .canvas {
      flex: 2;
      width: 100px;
      object-fit: contain;
  }

  .chat {
      flex: 3;
      width: 100px;
      object-fit: contain;
  }

  .tutorialPage {
    background-color: lightpink;
    height:100%;
    
  }

  .startPage {
      text-align: center;
      background-color: lightpink;
  }

  .startButton{
    animation: fadeIn2 3.0s;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    
      
  }

  h1 {
    animation: fadeIn2 3.0s;
    text-align: center;
  }

.container {
    display: flexbox;
    flex-direction: row;
    justify-content: center;
}